{
  "openapi": "3.1.0",
  "info": {
    "title": "Unified File Processing API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://v3.ocr.unsiloed-ai.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/vision/process": {
      "post": {
        "tags": ["PDF Vision"],
        "summary": "Process Pdf",
        "description": "Start PDF processing job and return job ID",
        "operationId": "process_pdf_api_v1_vision_process_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file to be uploaded"
                  },
                  "json_schema": {
                    "type": "string",
                    "description": "JSON schema describing the file's structure",
                    "example": "{\"type\": \"object\", \"properties\": {\"name\": {\"type\": \"string\"}}}"
                  }
                },
                "required": ["file", "json_schema"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "JobResponse": {
        "type": "object",
        "properties": {
          "job_id": { "type": "string" },
          "status": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["job_id", "status", "message"]
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [{ "type": "string" }, { "type": "integer" }]
            }
          },
          "msg": { "type": "string" },
          "type": { "type": "string" }
        },
        "required": ["loc", "msg", "type"]
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
